.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}
.hero p {    display: flex;
    flex-direction: row;
    gap: 40px;justify-content: space-between; margin: 0; }
.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);min-width: 20%;

      display: flex;
    align-items: center;
    margin: 0;
        background: linear-gradient(90deg, #cde6ff, #cdbdff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero picture {
      /* position: absolute; */
    /* z-index: -1; */
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
    width: 80%;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px;
  }
}
